<!-- <search-form></search-form>

<ul>
	<li ng-repeat="post in posts">
		<a href="{{post.slug}}" ng-bind-html="post.title"></a>
		<div ng-bind-html="post.content"></div>
	</li>
</ul> -->
<div class="row">
	<div class="col-md-12">
		<div class="row menu-box-row">
			<div class="col-md-4 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#FF6501;" class="menu-link" ng-href="{{mainmenu[0].url}}">
					<i ng-class="mainmenu[0].classes">&nbsp;</i>
					<span class="menu-title">{{mainmenu[0].title}}</span>
				</a>
			</div>
		</div>
		<div class="row menu-box-row">
			<div class="col-md-2 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#0164FF;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#32CB32;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#CC3200;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 menu-box">
				<a style="background-color:#326698;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
		</div>
		<div class="row menu-box-row">
			<div class="col-md-4 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#990098;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#FF009A;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12 menu-box no-padding-right">
				<a style="background-color:#3233CC;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 menu-box">
				<a style="background-color:#FF6501;" class="menu-link" href="#">
					<i class="fa fa-user">&nbsp;</i>
					<span class="menu-title">About Me</span>
				</a>
			</div>
		</div>
		
	</div>
</div>