<div class="row">
	<div class="col-md-12">
		<h2 class="page-title">{{page.title}}</h2>
		<div class="row portfolio-list">
			<div ng-repeat="item in portfolioList" class="col-md-4 portfolio-item no-padding-right wow fadeInUp">
				<div class="folio-wraper">
					<a href="">
						<img class="img-responsive portfolio-img" height="300px" width="100%" ng-src="{{item.featured_image.attachment_meta.sizes.medium.url}}">
						<h4 class="portfolio-title">{{item.title}}</h4>
					</a>
				</div>
				<!-- <div class="folio-hover">
					<h4 class="portfolio-title">{{item.excerpt}}</h4>
				</div> -->	
			</div>
		</div>
		<div class="row text-center hidden">
			<button ng-hide="callLoadMore==false" ng-disabled="callLoadMore==false" id="load-more-portfolio" ng-click="loadMore()">Load More</button>
		</div>
	</div>
</div>