<div class="row">
	<div class="col-md-12">
		<h2 class="page-title">
			{{page.title}}
			<span class="folio-nav-container">
				<a ng-class="{disabled: portfolioData[0].post_navigation.previous_post_link==''}" ng-disabled="portfolioData[0].post_navigation.previous_post_link==''" ng-href="{{portfolioData[0].post_navigation.previous_post_link}}" title="Previous">
					<i class="fa fa-angle-left">&nbsp;</i>
				</a>
				<a ng-class="{disabled: portfolioData[0].post_navigation.next_post_link==''}" ng-disabled="portfolioData[0].post_navigation.next_post_link==''" ng-href="{{portfolioData[0].post_navigation.next_post_link}}" title="Next">
					<i class="fa fa-angle-right">&nbsp;</i>
				</a>
			</span>
		</h2>
		<div class="row">
			<div class="col-md-6 folio-data-content wow fadeInDown">
				<ul class="list-inline folio-tag-items">
					<li ng-repeat="item in portfolioData[0].terms.post_tag">
						<span class="folio-tag-name">{{item.name}}</span>
					</li>
				</ul>
				<div class="wow fadeInDown" data-wow-duration="2s" ng-bind-html="portfolioData[0].content"></div>
				<a ng-hide="portfolioData[0].portfolio_meta_data.exela_portfolio_meta_url==''"  class="folio-live-link wow fadeInDown" data-wow-duration="3s" target="_blank" href="{{portfolioData[0].portfolio_meta_data.exela_portfolio_meta_url}}">Click To View In Live</a>
			</div>
			<div class="col-md-6">
				<div class="row folio-gallery wow fadeInDown">
					<div class="col-md-6 folio-gallery-item no-padding-right" ng-repeat="(folioKey,imgSrc) in portfolioData[0].portfolio_meta_data.exela_portfolio_meta_images">
						<a target="_self" fancybox data-fancybox-group="gallery" class="fancybox folio-single-box" ng-href="{{imgSrc}}">
							<img height="auto" width="100%" class="img-responsive" ng-src="{{imgSrc}}">
							<span class="folio-img-hover">
								<i class="fa fa-arrows-alt">&nbsp;</i>
								<br />
								Click For Large View
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>